#box{
    width: 1190px;
    height: 680px;
    margin:0 auto;
    /*background-color: orangered;*/
}
#hd{
    width: 100%;
    height: 60px;
    /*line-height: 40px;*/
    background-color:#fff;
    margin-bottom: 10px;
}
#hd ul{
    width: 1015px;
    height: 60px;
    margin:0 auto;
}
#hd li{
    float:left;
    width: 203px;
    height: 60px;
    text-align: center;
    color:#000;
    cursor: pointer;
    position:relative;
    padding-top: 7px;
    box-sizing: border-box;
}
#hd li span{
    display:block;
}
#hd li span:first-child{
    font-size: 16px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    width: 80px;
    border-radius:50px;
    /*background-color:#e1251b;*/
    /*color:#fff;*/
    margin:0 auto;
}
#hd li span:last-child{
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    /*color:#e1251b;*/
    color:#999;
}
#hd li .txt3,#hd li.current .txt3{
    font-size: 16px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    width: 80px;
    border-radius:50px;
    margin:0 auto;
    background-color:#e1251b;
    color:#fff;
}
#hd ul li .txt4,#hd ul li.current .txt4{
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    color:#e1251b;
}
#hd li span.fengge{
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 40px;
    margin: 10px 0;
    background: #dfdfdf;
    background: linear-gradient(180deg,white,#dfdfdf 51%,white);
}
#hd li.current{

}

#bd{
    height: 460px;
}
#bd ul{
    height: 460px;
    display:none;
}
/*#bd li{*/
    /*width: 190px;*/
    /*height: 266px;*/
    /*float:left;*/
    /*margin: 0 10px 10px 0;*/
/*}*/
/* 上半部分  */
/*#hd ul{*/
    /*width: 1015px;*/
    /*height: 60px;*/
    /*margin:0 auto;*/
/*}*/
/*#hd ul li{*/
    /*float:left;*/
    /*width: 203px;*/
    /*height: 60px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*position:relative;*/
/*}*/
/*.nominate-in-t h3{*/
    /*position: relative;*/
    /*width: 150px;*/
    /*height: 45px;*/
    /*font-size: 28px;*/
    /*font-weight: 700;*/
    /*text-align: center;*/
    /*line-height: 45px;*/
    /*padding:0 30px;*/
    /*color:#333;*/
    /*margin:0 auto 20px;*/
/*}*/



/*  下半部分 */
#bd li img{
    transition:all 0.3s;
    margin:30px 40px 40px;
}
#bd ul.current{
    display:block;
    /*background-color:#ccc;*/
    /*font-size: 24px;*/
}
.nominate-in-b-b ul li{
    width: 230px;
    height: 322px;
    float:left;
    margin:0 10px 10px 0;
    background:#fff;
    position:relative;
}
.nominate-in-b-b ul li:nth-child(5){
    margin:0;
}
.nominate-in-b-b ul li:hover img{
    opacity: .8;
}
.nominate-in-b-b ul li:hover .close,.nominate-in-b-b ul li:hover .hide{
    opacity:1;
}
.nominate-in-b-b ul li .close{
    width: 16px;
    height: 16px;
    position:absolute;
    top: 10px;
    right: 10px;
    background:url("../images/close.png") no-repeat;
    border-radius:50%;
    cursor: pointer;
    transition:all 0.3s;
    opacity:0;
}
.nominate-in-b-b ul li .close:hover{
    background:#c81623;
    background:url("../images/close1.png") no-repeat;
}
.nominate-in-b-b ul li .hide{
    width: 100%;
    height: 66px;
    background:#fff;
    position:absolute;
    left:0;
    bottom: 8px;
    background: linear-gradient(180deg,rgba(255,255,255,.8) 0,white 35%,white);
    opacity:0;
}
.nominate-in-b-b ul li .hide-resemble {
    width: 122px;
    height: 28px;
    border: 1px solid #353131;
    background: #353131;
    border-radius: 15px;
    line-height: 28px;
    text-align: center;
    margin: 18px auto 0;
    transition: all 0.3s;
}
.nominate-in-b-b ul li .hide-resemble:hover{
    background:#c81623;
    border-color:#c81623;
    cursor: pointer;
}
.nominate-in-b-b ul li .hide-resemble span{
    display:inline-block;
    height: 16px;
    line-height: 16px;
    color:#fff;
    font-size: 12px;
}
.nominate-in-b-b ul li .hide-resemble .sprite3{
    width: 16px;
    height: 16px;
    display:inline-block;
    vertical-align:middle;
    background:url("../images/yanjing.png") no-repeat;
}
.nominate-in-b-b ul li a p{
    width: 190px;
    height: 48px;
    line-height: 24px;
    overflow:hidden;
    padding:0 20px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.nominate-in-b-b ul li a p i{
    display:inline-block;
    color:#fff;
    height: 16px;
    line-height: 16px;
    background:#e1251b;
    font-size: 12px;
    padding:0 5px;
    border-radius:2px;
}
.nominate-in-b-b ul li a p i.sprite4{
    width: 54px;
    height: 16px;
    vertical-align:middle;
    background:url("../images/sprite1.png") no-repeat;
}

.nominate-in-b-b ul li a .money{
    float:left;
    padding:0 20px;
    color:#e1251b;
}
.nominate-in-b-b ul li a .money span{
    font-size: 20px;
    font-weight: 700;
    font-family: arial,sans-serif;
    margin-left: -2px;
}
.nominate-in-b-b ul li a .money i{
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    font-family: MicrosoftYahei-regular,Arial,Helvetica,sans-serif;
}

.nominate-in-b-b ul li a .coupon{
    float:right;
    margin-right: 25px;
    font-size: 12px;
    color:#e1251b;
    height: 14px;
    padding:0 6px;
    border: 1px solid #e1251b;
    line-height: 14px;
    text-align: center;
    margin-top:3px;
    border-radius:2px;
}
